.head{
    background-color: #ff0000;
}
.first-body{
    background-color: orange;
}
.second-body{
    background-color: yellow;
}
.third-body{
    background-color: green;
}
.fourth-body{
    background-color: skyblue;
}
.fifth-body{
    background-color: blue;
}
.six-body{
    background-color: blueviolet;
}