/*1 частина*/
.text-box > h3:first-child {
  color: pink;
}

.text-box > div > p {
  color: red;
}

.text-box p:nth-of-type(3) {
  color: green;
}

.text-box > p#greycol {
  color: grey;
}

.text-box > p.yellow {
  color: yellow;
}

/*2 Частина*/
thead :nth-child(1){
  background-color: tomato;
  color: white;
}
tbody :nth-child(1) {
background-color: lightblue;
}
tbody:nth-child(2) {
background-color: lightpink;
}
tbody:nth-child(3) {
background-color: violet;
}
tbody:nth-child(4) {
background-color: green;
}
thead :hover{
    background-color: red;
    color: white;
}
tbody:nth-child(1):hover{
    background-color: blue;
    color: white;
}
tbody :nth-child(2):hover{
    background-color: pink;
    color: white;
}
tbody :nth-child(3):hover{
    background-color: blueviolet;
    color: white;
  }
  tbody :nth-child(4):hover{
    background-color: turquoise;
    color: white;
}
/* thead{
    background-color: tomato;
    color: white;
}
.body-1:nth-child(2) {
  background-color: lightblue;
}
.body-2:nth-child(2) {
  background-color: lightpink;
}
.body-3:nth-child(2) {
  background-color: violet;
}
.body-4:nth-child(2) {
  background-color: green;
} */